<div id="contact"></div>
  <div class="bg-light py-80 py-lg-160 text-dark">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-0 col-lg-2"></div>
        <div class="col-10 col-lg-6">
          <h2 class="fs-24 fw-bold mb-24">林品如</h2>
          <p class="lh-2 fs-14 pe-lg-40">來自雲林縣，國立臺中教育大學美術系碩士班畢業。<br>
            善解人意配合度高，看似內向，不過喜歡於服務他人，能幫助到大家讓我有成就感。
            興趣為尋找美食、參加手作活動、閱讀繪本
            、參觀藝術展覽、插畫、攝影創作。</p>
          <div class="contact-info mt-40 mb-40 mb-lg-0">
            <h3 class="fs-16 mb-24 ff-pap"><span class="material-symbols-outlined align-middle me-12 text-secondary">
                markunread_mailbox
              </span><a href="mailto:s9568520@gmail.com" class="text-dark align-middle">s9568520@gmail.com</a></h3>
            <h3 class="fs-16 mb-24 ff-pap"><span class="material-symbols-outlined align-middle me-12 text-secondary">
                edgesensor_low
              </span><a href="tel:0975-003906" class="text-dark align-middle">0975-003906</a></h3>
            <h3 class="fs-16 ff-pap"><span class="material-symbols-outlined align-middle me-12 text-secondary">
                auto_meeting_room
              </span>Monday - Friday  09 ~ 19 : 00</h3>
          </div>
        </div>
        <div class="col-10 col-lg-4">
          <div class="img contact-img"><img src="./assets/images/contact_3.jpg" alt="image"></div>
        </div>
      </div>
    </div>
  </div>
    <footer class="footer m-auto">
      <div class="footer-img m-auto"></div>
      <div class="copyRight fs-12 text-center text-gray mb-16">Copyright © 2023 Lin Pin-Ru All rights reserved.
      </div>
    </footer>